<app-navbar />
<section id="home" class="scroll-mt-24">
    <app-home></app-home>
</section>

<section id="about" class="scroll-mt-10">
    <!-- <app-about></app-about> -->
</section>

<section id="services" class="scroll-mt-5">
    <!-- <app-services></app-services> -->
</section>

<section id="skills">
    <!-- <app-skills></app-skills> -->
</section>

<section id="projects" class="scroll-mt-8">
    <!-- <app-projects></app-projects> -->
</section>

<section id="contact">
    <!-- <app-contact></app-contact> -->
</section>
