<div class="about-section">
  <div class="about-content">
    <h2 appScrollAnimation class="scroll-hidden delay-100">Hello!</h2>
    <p appScrollAnimation class="scroll-hidden delay-200">
      I Am <span class="highlighted-name">{{ displayText }}<span class="animate-blink">|</span></span>
    </p>
    <div appScrollAnimation class="bio scroll-hidden delay-300">
      A passionate Frontend Developer with 2 years of experience crafting responsive and user-friendly web interfaces.
    </div>
    <div appScrollAnimation class="about-buttons scroll-hidden delay-300">
      <a href="#projects" class="btn-outline">View Work</a>
      <a href="#contact" class="btn-outline">Hire Me</a>
    </div>
  </div>
  <div appScrollAnimation class="about-image scroll-hidden delay-200">
    <div class="glow-circle">
      <img src="assets/crt-image.jpg" alt="About Image" />
    </div>
  </div>
</div>